html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: none;
}
.container {
  text-align: center;
  margin-top: 100px;
  width: 425px;
}
label {
  font-size: 18px;
}

#result {
  margin-top: 15px;
}

h4 {
  color: greenyellow;
}

img {
  width: 420px;
  margin-left: -10px;
}